@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #F2EBBF, #F3B562);
     }

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #64594a94;
    width: 450px;
    padding: 10px;
    margin: auto;
    }
h1 {
    color: #F06060;  
    text-align: center;
    box-shadow: 1px 1px 2px #3604041a;
    }
h2 {
    color: #1860a3;
    }

p {
    text-align: justify;
  }