@charset "UTF-8";


/*--Para Aparelho em Gerais(Portrait)--*/



body {
    background: url(../imagens/cev-portrait.jpg);  
    background-repeat: no-repeat; 
    background-position: center bottom;
}
